@using CampaignManager.Web.Model
@using CampaignManager.Web.Components.Shared

<div class="mb-6">
    <h3 class="text-xl font-bold mb-1">ПЕРСОНАЛЬНАЯ ИНФОРМАЦИЯ</h3>
    <div class="flex flex-col gap-2">
        <CustomInput Label="Игрок" Value="@Character.PersonalInfo.PlayerName" 
                    OnValueChanged="@(v => Character.PersonalInfo.PlayerName = v)"/>
                    
        <CustomInput Label="ИМЯ" Value="@Character.PersonalInfo.Name"
                    OnValueChanged="@(v => Character.PersonalInfo.Name = v)"/>
                    
        <CustomInput Label="РОД ЗАНЯТИЙ" Value="@Character.PersonalInfo.Occupation"
                    OnValueChanged="@(v => Character.PersonalInfo.Occupation = v)"/>
                    
        <CustomInput Label="ВОЗРАСТ" Type="number" Value="@Character.PersonalInfo.Age.ToString()"
                    OnValueChanged="@(v => Character.PersonalInfo.Age = int.Parse(v))"/>
                    
        <CustomInput Label="ПОЛ" Value="@Character.PersonalInfo.Gender"
                    OnValueChanged="@(v => Character.PersonalInfo.Gender = v)"/>
                    
        <CustomInput Label="МЕСТО ЖИТ." Value="@Character.PersonalInfo.Residence"
                    OnValueChanged="@(v => Character.PersonalInfo.Residence = v)"/>
                    
        <CustomInput Label="МЕСТО РОЖД." Value="@Character.PersonalInfo.Birthplace"
                    OnValueChanged="@(v => Character.PersonalInfo.Birthplace = v)"/>
    </div>

    <div class="mt-4">
        <div class="grid grid-cols-2 gap-2">
            <CustomInput Label="БОНУС К УРОНУ" Value="@Character.PersonalInfo.DamageBonus" FullWidth="false"
                        OnValueChanged="@(v => Character.PersonalInfo.DamageBonus = v)"/>
                        
            <CustomInput Label="КОМПЛЕКЦИЯ" Value="@Character.PersonalInfo.Build" FullWidth="false"
                        OnValueChanged="@(v => Character.PersonalInfo.Build = v)"/>
                        
            <CustomInput Label="СКОРОСТЬ" Type="number" Value="@Character.PersonalInfo.MoveSpeed.ToString()" FullWidth="false"
                        OnValueChanged="@(v => Character.PersonalInfo.MoveSpeed = int.Parse(v))"/>
                        
            <CustomInput Label="УКЛОНЕНИЕ" Type="number" Value="@Character.PersonalInfo.Dodge.ToString()" FullWidth="false"
                        OnValueChanged="@(v => Character.PersonalInfo.Dodge = int.Parse(v))"/>
        </div>
    </div>
</div>

@code {
    [Parameter] public Character Character { get; set; }
}