@using CampaignManager.Web.Model
@using CampaignManager.Web.Components.Shared

<div class="mb-4">
    <h3 class="text-xl font-bold mb-1">Персональная информация</h3>
    <div class="grid grid-cols-1 gap-2">
        <CustomInput Label="Игрок" Value="@Character.PersonalInfo.PlayerName" 
                    OnValueChanged="@(v => Character.PersonalInfo.PlayerName = v)"/>
                    
        <CustomInput Label="Имя" Value="@Character.PersonalInfo.Name"
                    OnValueChanged="@(v => Character.PersonalInfo.Name = v)"/>
                    
        <CustomInput Label="Род занятий" Value="@Character.PersonalInfo.Occupation"
                    OnValueChanged="@(v => Character.PersonalInfo.Occupation = v)"/>
                    
        <CustomInput Label="Возраст" Type="number" Value="@Character.PersonalInfo.Age.ToString()"
                    OnValueChanged="@(v => Character.PersonalInfo.Age = int.Parse(v))"/>
                    
        <CustomInput Label="Пол" Value="@Character.PersonalInfo.Gender"
                    OnValueChanged="@(v => Character.PersonalInfo.Gender = v)"/>
                    
        <CustomInput Label="Место жительства" Value="@Character.PersonalInfo.Residence"
                    OnValueChanged="@(v => Character.PersonalInfo.Residence = v)"/>
                    
        <CustomInput Label="Место рождения" Value="@Character.PersonalInfo.Birthplace"
                    OnValueChanged="@(v => Character.PersonalInfo.Birthplace = v)"/>
                    
        <CustomInput Label="Бонус к урону" Value="@Character.PersonalInfo.DamageBonus" 
                    OnValueChanged="@(v => Character.PersonalInfo.DamageBonus = v)"/>
                    
        <CustomInput Label="Комплекция" Value="@Character.PersonalInfo.Build" 
                    OnValueChanged="@(v => Character.PersonalInfo.Build = v)"/>
                    
        <CustomInput Label="Скорость" Type="number" Value="@Character.PersonalInfo.MoveSpeed.ToString()" 
                    OnValueChanged="@(v => Character.PersonalInfo.MoveSpeed = int.Parse(v))"/>
                    
        <CustomInput Label="Уклонение" Type="number" Value="@Character.PersonalInfo.Dodge.ToString()" 
                    OnValueChanged="@(v => Character.PersonalInfo.Dodge = int.Parse(v))"/>
    </div>
</div>

@code {
    [Parameter] public Character Character { get; set; }
}