@using CampaignManager.Web.Components.Features.Characters.Model
<table class="w-full text-xs">
    <thead>
    <tr class="border-b border-gray-200">
        <th class="text-left font-semibold text-xs py-1"></th>
        <th class="w-16 text-center font-semibold text-xs py-1">Текущ.</th>
        <th class="w-16 text-center font-semibold text-xs py-1">Макс.</th>
    </tr>
    </thead>
    <tbody>
    <AttributeRow Label="ПЗ" Current="@Attributes.HitPoints.Value" Max="@Attributes.HitPoints.MaxValue"
                  OnValueChanged="@((int v) => Attributes.HitPoints.Value = v)"
                  OnMaxChanged="@((int v) => Attributes.HitPoints.MaxValue = v)"/>
    <AttributeRow Label="ПМ" Current="@Attributes.MagicPoints.Value" Max="@Attributes.MagicPoints.MaxValue"
                  OnValueChanged="@((int v) => Attributes.MagicPoints.Value = v)"
                  OnMaxChanged="@((int v) => Attributes.MagicPoints.MaxValue = v)"/>
    <AttributeRow Label="Рассудок" Current="@Attributes.Sanity.Value" Max="@Attributes.Sanity.MaxValue"
                  OnValueChanged="@((int v) => Attributes.Sanity.Value = v)"
                  OnMaxChanged="@((int v) => Attributes.Sanity.MaxValue = v)"/>
    <AttributeRow Label="Удача" Current="@Attributes.Luck.Value" Max="@Attributes.Luck.MaxValue"
                  OnValueChanged="@((int v) => Attributes.Luck.Value = v)"
                  OnMaxChanged="@((int v) => Attributes.Luck.MaxValue = v)"/>
    </tbody>
</table>

@code {
    [Parameter] public required DerivedAttributes Attributes { get; set; }
}