@using CampaignManager.Web.Components.Features.Characters.Model
<table class="w-full text-xs mb-2">
    <thead>
    <tr>
        <th class="text-left font-semibold"></th>
        <th class="w-20 text-center font-semibold">Текущее</th>
        <th class="w-20 text-center font-semibold">Максимум</th>
    </tr>
    </thead>
    <tbody>
    <AttributeRow Label="Пункты Здоровья" Current="@Attributes.HitPoints.Value" Max="@Attributes.HitPoints.MaxValue"
                  OnValueChanged="@(v => Attributes.HitPoints.Value = v)"
                  OnMaxValueChanged="@(v => Attributes.HitPoints.MaxValue = v)"/>
    <AttributeRow Label="Пункты Маны" Current="@Attributes.MagicPoints.Value" Max="@Attributes.MagicPoints.MaxValue"
                  OnValueChanged="@(v => Attributes.MagicPoints.Value = v)"
                  OnMaxValueChanged="@(v => Attributes.MagicPoints.MaxValue = v)"/>
    <AttributeRow Label="Рассудок" Current="@Attributes.Sanity.Value" Max="@Attributes.Sanity.MaxValue"
                  OnValueChanged="@(v => Attributes.Sanity.Value = v)"
                  OnMaxValueChanged="@(v => Attributes.Sanity.MaxValue = v)"/>
    <AttributeRow Label="Удача" Current="@Attributes.Luck.Value" Max="@Attributes.Luck.MaxValue"
                  OnValueChanged="@(v => Attributes.Luck.Value = v)"
                  OnMaxValueChanged="@(v => Attributes.Luck.MaxValue = v)"/>
    </tbody>
</table>

@code {
    [Parameter] public DerivedAttributes Attributes { get; set; }
}