@using CampaignManager.Web.Components.Features.Characters.Model
<div class="bg-white shadow rounded-lg p-4 mb-4 h-full">
    <h4 class="cm-h4 mb-3">Персональная информация</h4>
    <div class="grid grid-cols-1 gap-2">
        <CustomInput Label="Игрок" Value="@Character.PersonalInfo.PlayerName"
                     OnValueChanged="@(v => Character.PersonalInfo.PlayerName = v)"/>

        <CustomInput Label="Имя" Value="@Character.PersonalInfo.Name"
                     OnValueChanged="@(v => Character.PersonalInfo.Name = v)"/>

        <CustomInput Label="Професия" Value="@Character.PersonalInfo.Occupation"
                     OnValueChanged="@(v => Character.PersonalInfo.Occupation = v)"/>

        <CustomInput Label="Возраст" Type="number" Value="@Character.PersonalInfo.Age.ToString()"
                     OnValueChanged="@(v => Character.PersonalInfo.Age = int.Parse(v))"/>

        <CustomInput Label="Пол" Value="@Character.PersonalInfo.Gender"
                     OnValueChanged="@(v => Character.PersonalInfo.Gender = v)"/>

        <CustomInput Label="Место жит." Value="@Character.PersonalInfo.Residence"
                     OnValueChanged="@(v => Character.PersonalInfo.Residence = v)"/>

        <CustomInput Label="Место рож." Value="@Character.PersonalInfo.Birthplace"
                     OnValueChanged="@(v => Character.PersonalInfo.Birthplace = v)"/>

        <div class="grid grid-cols-2 gap-2">
            <CustomInput Label="Б.К.У." Value="@Character.PersonalInfo.DamageBonus"
                         OnValueChanged="@(v => Character.PersonalInfo.DamageBonus = v)"/>

            <CustomInput Label="Комп." Value="@Character.PersonalInfo.Build"
                         OnValueChanged="@(v => Character.PersonalInfo.Build = v)"/>

            <CustomInput Label="Скор." Type="number" Value="@Character.PersonalInfo.MoveSpeed.ToString()"
                         OnValueChanged="@(v => Character.PersonalInfo.MoveSpeed = int.Parse(v))"/>

            <CustomInput Label="Укло." Type="number" Value="@Character.PersonalInfo.Dodge.ToString()"
                         OnValueChanged="@(v => Character.PersonalInfo.Dodge = int.Parse(v))"/>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public required Character Character { get; set; }
}